#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input{
  width: 30vw;
  height: 5vh;
  font-size: large;
}


input::placeholder{
  font-size: large;
}

label{
  font-size: large;
}
.err {
  border: 2px solid red;
}

p {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}